.base
  position: absolute
  z-index: var(--lt-bar-zindex)
  left: 0
  right: 0
  margin: 0 auto
  display: flex
  align-items: center
  justify-content: space-between
  flex-shrink: 0
  height: var(--lt-bar-height)
  border-radius: var(--lt-bar-radius)
  border: var(--lt-bar-border) solid var(--tm-background)
  background-color: var(--tm-surface-0)
  color: var(--tm-on-surface)
