.base
  position: absolute
  z-index: -1
  left: var(--background-offset)
  bottom: var(--background-offset)

  width: var(--background-size)
  height: var(--background-size)

  opacity: var(--bg-opacity)
