.base
  height: var(--layout-header-size)
  text-transform: uppercase
  letter-spacing: 4px
  font-size: 16px
  font-family: var(--font-family)
  font-weight: bold
  line-height: 1
  background-image: linear-gradient(to right, var(--theme-color-primary) 25%, var(--theme-color-tertiary) 90%)
  background-clip: text
  -webkit-text-fill-color: transparent
