.base
  height: var(--layout-header-size)

.icon
  width: 24px
  height: 24px
  fill: var(--theme-color-logo)

._withTitle
  height: auto
  padding: var(--layout-header-size) 0

  @media (--min-width-l)
    padding-top: calc(var(--layout-header-size) * 2)

  .icon
    width: auto
    height: 40px

    @media (--min-width-l)
      height: 80px
