.base
  flex-direction: column
  align-items: center
  gap: 16px
  max-width: 320px

.description
  padding-bottom:  calc(var(--layout-header-size) / 2)
  white-space: pre-line
  text-align: center

.input
  max-width: 280px
  height: 48px
  border-radius: 8px
  background-color: var(--theme-color-background)

.button
  max-width: 280px
  height: 48px
  border-radius: 8px
  background-color: var(--theme-color-primary)
  color: var(--theme-color-on-primary)
