._absolute
  position: absolute
._relative
  position: relative
._fixed
  position: fixed
._fullScreenPosition
  top: 0
  right: 0
  bottom: 0
  left: 0

._flex
  display: flex
  flex-shrink: 0
._flexColumn
  flex-direction: column
._flexJustifyCenter
  justify-content: center
._flexJustifyBetween
  justify-content: space-between
._flexAlignCenter
  align-items: center

._fullWidth
  width: 100%
._fullHeight
  height: 100%
