.base
  position: absolute
  min-width: var(--layout-size-64)
  border-radius: var(--layout-radius-20)
  background: var(--theme-color-surface-1)
  scale: 0
  opacity: 0

._bottom
  transform-origin: 100% 0

._top
  transform-origin: 100% 100%
