.base
  position: absolute
  left: 0
  right: 0

  display: flex
  align-items: center
  justify-content: space-between
  flex-shrink: 0
  padding: 0 s(right) 0 s(left)
  backdrop-filter: blur(8px)

._top
  top: 0
  padding-top: s(top)

._bottom
  bottom: 0
  padding-bottom: s(bottom)
