values = json('./element.styles.json', { hash: true })

for value in values.position
  ._position_{value}
    position: convert(value)

for value in values.location
  correctValue = convert(value)
  ._top_{value}
    top: correctValue
  ._right_{value}
    right: correctValue
  ._bottom_{value}
    bottom: correctValue
  ._left_{value}
    left: correctValue

for value in values.zIndex
  ._zIndex_{value}
    z-index: convert(value)

for value in values.display
  ._display_{value}
    display: convert(value)
    flex-shrink: 0 if value == 'flex'

for value in values.flexDirection
  ._flexDirection_{value}
    flex-direction: convert(value)

for value in values.flexJustify
  ._flexJustify_{value}
    justify-content: convert(value)

for value in values.flexAlign
  ._flexAlign_{value}
    align-items: convert(value)

for value in values.flexGrow
  ._flexGrow_{value}
    flex-grow: convert(value)

for value in values.width
  postfix = replace('%', 'pct', value)
  correctValue = convert(value)
  ._width_{postfix}
    width: correctValue
  ._minWidth_{postfix}
    min-width: correctValue
  ._maxWidth_{postfix}
    max-width: correctValue

for value in values.height
  postfix = replace('%', 'pct', value)
  correctValue = convert(value)
  ._height_{postfix}
    height: correctValue
  ._minHeight_{postfix}
    min-height: correctValue
  ._maxHeight_{postfix}
    max-height: correctValue

for value in values.padding
  ._padding0_{value}
    padding-top: convert(value)
  ._padding1_{value}
    padding-right: convert(value)
  ._padding2_{value}
    padding-bottom: convert(value)
  ._padding3_{value}
    padding-left: convert(value)

for value in values.overflow
  ._overflow_{value}
    overflow: convert(value)
    scroll-behavior: smooth if value == 'auto'
    -webkit-overflow-scrolling: touch if value == 'auto'

._scrollbar_none
  scrollbar-width: none
  &::-webkit-scrollbar
    display: none

for value in values.fontSize
  ._fontSize_{value}
    font-size: convert(value)

for value in values.fontWeight
  ._fontWeight_{value}
    font-weight: convert(value)

for value in values.textAlign
  ._textAlign_{value}
    text-align: convert(value)

for value in values.textTransform
  ._textTransform_{value}
    text-transform: convert(value)

._textOverflow_ellipsis
  display: block
  flex-shrink: 1
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

for value in values.opacity
  ._opacity_{value}
    opacity: convert(value)

for value in values.opacity
  ._opacityOverwrite_{value}
    opacity: convert(value)

for value in values.transitionP
  ._transition0_{value}
    transition-property: convert(value)

for value in values.transitionD
  ._transition1_{value}
    transition-duration: convert(value)

for value in values.transitionTF
  ._transition2_{value}
    transition-timing-function: convert(value)

for value in values.willChange
  postfix = replace(', ', '__', value)
  ._willChange_{postfix}
    will-change: convert(value)
