vars = json('./vars.styles.json', { hash: true })

$desktop = vars.screenMQ.desktop
$mobile = vars.screenMQ.mobile

$dark = "(prefers-color-scheme: dark)"
$standalone = "(display-mode: standalone)"
$hover = "(hover: hover)"

$headerHeight = 60px
$sidebar-width = 320px
$content-width = 664px
$widget-width = 300px
