.base
  top: 0
  right: 0
  bottom: 0
  z-index: var(--pane-zindex)

  width: 400px
  max-width: 100%
  opacity: 0
  background-color: var(--pane-bg-color)
  will-change: transform, opacity
  transform: translateX(80px)
