.base
  height: var(--header-height)
  overflow: hidden
  background-color: var(--pane-header-bg-color)
  border-bottom: 1px solid var(--pane-header-br-color)

  > button
    margin-left: auto

.title
  padding-left: var(--layout-padding)
