.container
  --local-opacity: 0.25

.base
  position: absolute
  top: var(--local-top)
  right: var(--local-right)
  left: var(--local-left)
  width: var(--local-width)
  min-width: var(--local-min-width, 200px)
  max-height: var(--local-max-height, 80vh)
  border-radius: var(--layout-radius-20)
  background-color: var(--theme-color-surface-1)
  transform-origin: var(--local-transform-origin, 100% 0)
