.base
  position: absolute
  margin: 0 auto
  height: var(--size-height-48)
  background-color: var(--theme-color-surface-1)
  border-radius: var(--size-radius-20)

  @media (--layout-desktop)
    position: static
    flex-grow: 2
    max-width: 648px
    min-width: 368px
