.title
  display: block
  padding: var(--layout-float-top-bar-size) 0 16px
  text-align: center

.description
  margin: 0 auto
  display: block
  //max-width: 320px
  white-space: pre-line
  text-align: center
