.base
  position: absolute
  z-index: var(--lt-pane-zindex)
  right: 0
  bottom: 0
  width: var(--lt-pane-width)
  height: var(--lt-pane-height)
  border-radius: var(--lt-main-radius)
  transform: var(--lt-pane-transform)

.body
  width: var(--lt-pane-body-width)
  min-height: 100%
  background-color: var(--tm-surface-variant-1)
  border-radius: inherit
