.root
  @media screen and (max-aspect-ratio: 5/4)
    height: 75vh

  @media screen and (min-aspect-ratio: 5/4)
    width: 50vw

._left
  transform: translate3d(-30%, 50%, 0) rotate(-30deg) scale(-1, -1)

._right
  transform: translate3d(54%, -25%, 0) rotate(15deg)
