.root
  position: absolute
  z-index: -1
  content: ''

  @media screen and (max-aspect-ratio: 5/4)
    height: 75vh

  @media screen and (min-aspect-ratio: 5/4)
    width: 50vw

  &::after
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    display: block
    content: ''
    background-color: #0d1117
    opacity: 0.5

._left
  left: 0
  bottom: 0
  transform: translate3d(-40%, 50%, 0) rotate(-30deg) scale(-1, -1)

._right
  top: 0
  right: 0
  transform: translate3d(54%, -25%, 0) rotate(15deg)
