.base
  position: absolute
  z-index: var(--layout-zindex-2)
  left: 0
  right: 0
  margin: 0 auto
  display: flex
  flex-shrink: 0
  height: var(--size-height-48)
  border-radius: var(--size-radius-20)
  background-color: var(--theme-color-surface-2)
  color: var(--theme-color-on-surface)
