.base
  left: max(safe(left), var(--layout-dialog-offset))
  top: calc(var(--layout-header-size) + var(--layout-dialog-offset))
  height: calc(100% - var(--layout-header-size) - var(--layout-dialog-offset) - max(safe(bottom), var(--layout-dialog-offset)))
  flex-direction: column
  min-width: 240px
  background-color: var(--theme-color-surface-1)
