.base
  left: max(safe(left), var(--layout-dialog-offset))
  top: calc(var(--layout-header-height) + var(--layout-dialog-offset))
  height: calc(100% - var(--layout-header-height) - var(--layout-dialog-offset) - max(safe(bottom), var(--layout-dialog-offset)))
  border-radius: var(--layout-dialog-radius)
  background-color: var(--theme-color-surface-1)

  min-width: 240px
