.base
  position: absolute
  z-index: var(--lt-popup-zindex)
  right: 0
  bottom: 0
  width: var(--lt-popup-width)
  height: var(--lt-popup-height)
  transform: var(--lt-popup-transform)

.body
  width: var(--lt-popup-body-width)
  min-height: 100%
  background-color: var(--tm-surface-1)
  border-radius: inherit
