.base
  margin: 0
  padding: 0 var(--layout-size-16)
  gap: var(--layout-size-8)
  border: none
  box-shadow: none
  background-color: transparent
  cursor: pointer
  user-select: none
  transition: opacity 200ms ease-in-out
  will-change: opacity

  &:focus:not(:focus-visible)
    outline: none

  &:active
    opacity: 0.5

  ._disabled
    opacity: 0.5
    cursor: not-allowed

  ._error
    //
