.base
  flex-shrink: 0
  align-items: center
  width: 100%
  height: calc(safe(top) + var(--layout-header-height))
  padding: safe(top) safe(right) 0 safe(left)
  background-color: var(--theme-color-surface-1)
