.base
  top: var(--lt-bar-top)
  width: var(--lt-header-width)
  padding: 0 10px 0 1px

  > button
    width: var(--lt-button-height)
    height: var(--lt-button-height)

    &:first-of-type
      margin: 0 0 0 auto
