.base
  position: relative
  display: flex
  align-items: center
  flex-shrink: 0
  height: 100%
  padding-left: 4px

  &::after
    inset: -2px
    border: var(--lt-bar-border) solid var(--tm-surface-0)
    border-left: none
    border-radius: 0 var(--lt-bar-radius) var(--lt-bar-radius) 0
    display: none

  > div, > img
    width: 32px
    height: 32px
    border-radius: 16px
