.forcedPerformance
  -webkit-backface-visibility: hidden
  -webkit-transform-style: preserve-3d
  -webkit-perspective: 1200px

.rotate
  animation: rotate 800ms cubic-bezier(0.1,0.2,0.4,0.1) infinite
  will-change: rotate

@keyframes rotate
  0%
    rotate: 0deg
  100%
    rotate: 360deg
