:root
  --layout-float-top-bar-size: 52px
  --layout-float-bottom-bar-size: 48px

  --layout-float-button-size: 40px
  --layout-float-button-y-offset: 16px
  --layout-float-button-x-offset: 16px

  --layout-menu-width: 256px

  --layout-article-max-width: 576px
  --layout-article-x-offset: 12px

  --layout-dialog-radius: 12px

  @media (--min-width-l)
    --layout-float-button-size: 36px
    --layout-float-button-x-offset: 8px
    --layout-float-button-y-offset: 8px
