:root
  --layout-header-size: 56px
  --layout-menu-width: 240px
  --layout-dialog-width: 480px
  --layout-dialog-offset: 8px
  --layout-dialog-radius: 12px

  --layout-shadow-1: 0px 1px 2px 0px var(--theme-color-shadow-0), 0px 1px 3px 1px var(--theme-color-shadow-1)
  --layout-shadow-2: 0px 1px 2px 0px var(--theme-color-shadow-0), 0px 2px 6px 2px var(--theme-color-shadow-1)
  --layout-shadow-3: 0px 1px 3px 0px var(--theme-color-shadow-0), 0px 4px 8px 3px var(--theme-color-shadow-1)
