.base
  position: absolute
  z-index: 1
  top: 8px
  right: 24px
  padding: 8px 0
  border-radius: 12px
  background-color: var(--theme-color-surface-2)
  transform-origin: 100% 0
  opacity: 0
  will-change: scale, opacity

.button
  justify-content: flex-start
  align-items: center
  height: 36px
  gap: 16px
  padding: 0 16px
  border-radius: 8px
  opacity: 0.75
  color: var(--theme-color-on-surface)
  text-decoration: none
