.base
  --local-height: 56px
  --local-padding: 0px
  --local-min-top-offset: 0px
  height: calc(var(--local-height) + var(--local-padding))
  padding-bottom: var(--local-padding)
  opacity: 0.5
  will-change: translate

  @media (--max-width-m)
    --local-min-top-offset: var(--layout-float-top-bar-size)
    --local-padding: calc(var(--layout-float-bottom-bar-size) + max(var(--layout-float-button-y-offset), safe(bottom)))

._transparent
  visibility: hidden
