.checkbox
  height: 36px

.button
  justify-content: flex-start
  height: 36px
  gap: 16px
  padding: 0 12px 0 16px

  > svg:last-child
    margin-left: auto
    width: 16px
    height: 16px
    opacity: 0.5
    rotate: 0deg
    transition: rotate 300ms ease
    will-change: rotate

  &._expanded
    > svg:last-child
      rotate: -180deg

  &::after
    top: 0
    right: 0
    bottom: 0
    left: 0
    display: none
    cursor: default

  &._expanded
    &::after
      display: block
