.base
  --local-height: 32px

  width: auto
  height: var(--local-height)
  padding: 0 16px
  scroll-snap-align: center
  scroll-snap-stop: always
  border-radius: calc(var(--local-height) / 2)
  background-color: var(--theme-color-surface-0)
  color: var(--theme-color-on-surface)

  &:last-child
    margin-right: auto

  &:first-child
    margin-left: auto

  &._active
    background-color: var(--theme-color-secondary-container)
    color: var(--theme-color-on-secondary-container)
