.base
  position: absolute
  bottom: 12px
  left: 12px
  border-radius: 50%
  background-color: rgba(0,0,0,0.05)

  > svg
    fill: white

  &._center
    top: 50%
    bottom: auto
    left: 50%
    translate: -50% -50%
    background-color: rgba(0,0,0,0.4)

    > svg
      padding: 12px
