.base
  position: absolute
  z-index: 3
  top: safe(top)
  right: safe(right)
  width: var(--layout-float-top-bar-size)
  height: var(--layout-float-top-bar-size)
  padding: 0

  > svg
    width: 22px
    height: 22px
