.base
  position: absolute
  z-index: 2
  top: 12px
  width: auto
  height: 32px
  padding: 0 16px
  border-radius: 16px
  visibility: hidden
  background-color: var(--theme-color-primary)
  color: var(--theme-color-on-primary)
  will-change: translate

  &:active:not(:disabled)
    opacity: 0.75

  &._visible
    visibility: visible
