.base
  --local-scrollbar-color: var(--theme-color-surface-0)
  --local-scrollbar-background-color: var(--theme-color-background)
  position: relative
  flex: 1 1 auto
  flex-direction: column
  align-items: center
  height: 100%

.loader
  margin: 16px auto
  opacity: 0.5
