.base
  align-items: center
  height: var(--layout-header-size)
  padding: 0 0 0 16px
  gap: 12px

.description
  flex-shrink: 1
  flex-direction: column
  justify-content: center
  overflow: hidden

  > span
    &:first-child
      opacity: 0.75

    &:last-child
      opacity: 0.5

.button
  margin-left: auto
  width: 40px
  padding: 0

  > svg
    opacity: 0.5
