.wrapper
  position: absolute
  top: 0
  width: min(100%, var(--layout-article-max-width))
  padding: 0 16px
  will-change: translate

  &._transparent
    opacity: 0

.base
  padding: 0
  border-radius: 16px
  background-color: var(--theme-color-surface-0)
  overflow: hidden
