.base
  align-items: center
  height: var(--layout-header-size)
  padding: 0 0 0 16px
  gap: 12px
  border: var(--local-border)
  border-bottom: none
  border-radius: var(--local-border-radius) var(--local-border-radius) 0 0

.description
  flex-shrink: 1
  flex-direction: column
  justify-content: center
  overflow: hidden

  > span
    &:first-child
      opacity: 0.75

    &:last-child
      opacity: 0.5
