.base
  position: relative
  height: 32px
  align-items: center
  gap: 16px
  padding: 0 16px
  cursor: pointer

  &:has(:disabled)
    cursor: not-allowed

.icon
  pointer-events: none

.text
  pointer-events: none
