:root
  --logo-bg-color: #274F82
  --logo-top-color: #93C5FD
  --logo-color-1: #18304E
  --logo-color-2: #21436E
  --logo-color-3: #3062A1
  --logo-color-4: #274F82

.base > svg
  width: 100%
  height: 100%
