.base
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: none
  border-radius: 8px
  overflow: hidden

._single
  display: block

._active, ._previous, ._next
  display: block
  transform-origin: 50% 50%
  will-change: translate

  &._transitionable
    transition: translate 300ms ease-in-out

._previous, ._next
  translate: calc(var(--local-k) * 100%) 0

._previous
  --local-k: -1

._next
  --local-k: 1
