.base
  z-index: var(--header-zindex)
  height: var(--header-height)
  border-bottom: 1px solid var(--header-br-color)
  background-color: var(--header-bg-color)

  > svg:first-child
    margin-right: auto
    padding-left: var(--layout-padding)

  > button:last-child
    padding-right: var(--layout-padding)
