.base
  width: var(--local-icon-size)
  height: var(--local-icon-size)
  fill: currentColor

  &._small
    --local-icon-size: 16px

  &._medium
    --local-icon-size: 20px

  &._large
    --local-icon-size: 24px
