.main
  flex: 1 1 auto
  flex-direction: column

  &._overflowHidden
    overflow: hidden

.menu
  top: safe(top)
  bottom: 0

  &._left
    left: safe(left)

  &._right
    right: safe(right)

._uniform
  .main
    padding-top: safe(top)

    border-radius: 0
    background: none

    &::before
      inset: 0
      background: linear-gradient(to bottom, var(--theme-color-surface-0), var(--theme-color-background))

  .menu
    background: var(--theme-color-surface-2)
