<!DOCTYPE html>
<html
  lang="<%= params.APP_DEFAULT_LOCALE_LANG %>"
  data-icon-sprite-hash="<%= params.APP_ICON_SPRITE_HASH %>"
  data-theme-mode="<%= params.APP_DEFAULT_THEME_MODE %>"
>
  <head>
    <title><%= params.APP_TITLE %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, viewport-fit=cover, user-scalable=no, shrink-to-fit=no"/>
    <meta name="google" content="notranslate">
    <meta name="apple-mobile-web-app-title" content="<%= params.APP_TITLE %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="theme-color" content="<%= params.APP_DEFAULT_THEME_COLOR %>">
    <style inline></style>
    <link rel="manifest" href="<%= require('./app.webmanifest') %>">
    <%= htmlWebpackPlugin.tags.filter((tag) => tag.tagName !== 'script') %>
    <%= htmlWebpackPlugin.tags.filter((tag) => tag.tagName === 'script') %>
  </head>
  <body>
    <div hidden class="warning" data-browser="You need to update your browser to run this app."></div>
    <noscript class="warning">You need to enable JavaScript to run this app.</noscript>
    <script>
      (() => {
        const features = [
          'Proxy', 'MessageChannel', 'BigInt', 'TransformStream', 'ResizeObserver', 'IntersectionObserver', 'HTMLDialogElement'
        ]
        const unsupported = typeof [].some !== 'function' || features.some(function(feature) {
          return typeof self[feature] !== 'function'
        })
        if (unsupported) {
          const warningEl = self.document.querySelector('.warning[data-browser]')
          warningEl.textContent = warningEl.getAttribute('data-browser')
          warningEl.removeAttribute('hidden')
        }
      })()
    </script>
  </body>
</html>
