<!DOCTYPE html>
<html lang="en" data-icons="<%=params.iconsFileHash%>">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, viewport-fit=cover, user-scalable=no, shrink-to-fit=no"/>
    <meta name="theme-color" content="#0f1115">
    <title>TgFeed</title>
    <%= htmlWebpackPlugin.tags.filter((tag) => tag.tagName !== 'script') %>
    <%= htmlWebpackPlugin.tags.filter((tag) => tag.tagName === 'script') %>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
  </body>
</html>
