<!DOCTYPE html>
<html
  lang="en"
  data-icons="<%=params.iconsFileHash%>"
  data-theme=""
>
  <head>
    <title><%= require('./app.config.ts').title %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, viewport-fit=cover, user-scalable=no, shrink-to-fit=no"/>
    <meta name="google" content="notranslate">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-title" content="<%= require('./app.config.ts').title %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="theme-color" content="<%= require('./app.config.ts').defaultThemeColor %>">
    <link rel="manifest" href="<%= require('./app.webmanifest') %>">
    <%= htmlWebpackPlugin.tags.filter((tag) => tag.tagName !== 'script') %>
    <%= htmlWebpackPlugin.tags.filter((tag) => tag.tagName === 'script') %>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
  </body>
</html>
