.base
  align-items: center
  gap: 16px
  height: 32px
  padding: 0 16px

  &:not(._checked)
    cursor: pointer

.icon
  opacity: var(--local-opacity)
  pointer-events: none

.text
  opacity: var(--local-opacity)
  pointer-events: none

  &::first-letter
    text-transform: capitalize
