.base
  justify-content: flex-start
  height: 36px
  gap: 16px
  padding: 0 12px 0 16px

.icon
  padding: 8px
  border-radius: 50%

  &._primary
    background-color: var(--theme-color-primary)
    fill: var(--theme-color-on-primary)

  &._secondary
    background-color: var(--theme-color-secondary)
    fill: var(--theme-color-on-secondary)

  &._tertiary
    background-color: var(--theme-color-tertiary)
    fill: var(--theme-color-on-tertiary)

.arrowIcon
  margin-left: auto
  opacity: 0.75
