.base
  --local-header-size: 56px
  height: var(--local-header-size)

.button
  position: absolute
  z-index: 1
  top: 0
  left: 0
  width: var(--local-header-size)
  height: var(--local-header-size)
  border-radius: var(--layout-dialog-radius)
