.base
  height: var(--layout-header-size)
  text-transform: uppercase
  opacity: 0.5

.button
  position: absolute
  z-index: 1
  top: 0
  left: 0
  width: var(--layout-header-size)
  height: var(--layout-header-size)
  border-radius: var(--layout-dialog-radius)
